.game{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 350px;
}
.gameImg{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: 200px;
}
.gameInfo{
    width: 335px;
    height: 50px;
    padding: 15px 0 0 15px;
    text-align: left;
    background-color: rgba(0,0,0,0.52);
}